.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}
path{
    background-color: black;
}

.title {
    fill: teal;
    font-weight: bold;
}
#pie{
    margin-left: 15%;
    padding: 10px;
    background-color: aquamarine;
}
.legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }